RewriteEngine on

RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^http://amigaworld.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://amigaworld.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://aoproxy.extropia.co.uk/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://aoproxy.extropia.co.uk$      [NC]
RewriteCond %{HTTP_REFERER} !^http://avatargraveyard.extropia.co.uk/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://avatargraveyard.extropia.co.uk$      [NC]
RewriteCond %{HTTP_REFERER} !^http://extropia.co.uk/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://extropia.co.uk$      [NC]
RewriteCond %{HTTP_REFERER} !^http://moobunny.dreamhosters.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://moobunny.dreamhosters.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.amiga.org/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.amiga.org$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.amigaworld.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.amigaworld.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.aoproxy.extropia.co.uk/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.aoproxy.extropia.co.uk$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.avatargraveyard.extropia.co.uk/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.avatargraveyard.extropia.co.uk$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.extropia.co.uk$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.voicesofaorg.extropia.co.uk/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.voicesofaorg.extropia.co.uk$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.whyzzat.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.whyzzat.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.amigans.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.amigans.net$      [NC]
RewriteRule .*\.(jpg|jpeg|gif|png|bmp)$ - [F,NC]

